<form action="/admin/add" method="post">
  <label>Name: <input name="name"></label><br>
  <label>Email: <input name="email"></label><br>
  <label>Basic Salary: <input name="basicSalary" type="number"></label><br>
  <button>Add</button>
</form>